@import '../common/base';

.home-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  .subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .description {
    margin-bottom: 1rem;
  }
}

.advert-table {
  box-shadow: 0 3px 5rem rgba(99, 219, 255, 0.1);
  border: 2px solid $border-color;
  border-radius: 2rem;
  padding: 2vw;
  margin-bottom: 2vh;
  thead {
    tr {
      th {
        padding-bottom: 2vw;
        background-image: $background-color;
        text-align: left;
        color: $link-color;
        width: 18%;
      }
      .button-col {
        width: 10%;
      }
    }
  }

  tbody {
    tr {
      td {
        vertical-align: top;
        font-weight: 400;
        .primary-button {
          margin-bottom: 20px;
        }
        img {
          width: auto;
          height: auto;
          max-width: 10rem;
          border: 0 solid;
          border-radius: 2rem;
          margin-right: 2rem;
        }
      }
      line-height: 10rem;
    }
  }
}